{% extends "base.html.twig" %}

{% block title %}Profil | {{ parent() }}{% endblock %}

{% block content %}
    <div class="admin-page">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <a href="{{ path('article_add') }}" class="btn brown lighten-2" style="float: right">Ajouter</a>
                    <h5>Articles</h5>
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Titre</th>
                            <th>Publié</th>
                            <th>Date de publication</th>
                            <th>Date de modification</th>
                            <th>Actions</th>
                        </tr>
                        {% set i = 1 %}
                        {% for article in articles %}
                            {% if article.user.id == app.user.id %}
                                <tr>
                                    <td>{{ i }}</td>
                                    <td><a href="{{ path('article_show', {'id': article.id}) }}" target="_blank">{{ article.titre }}</a></td>
                                    <td>
                                        <span class="badge {{ article.isPublished ? 'white-text blue lighten-1' : 'red lighten-1' }}">
                                            {{ article.isPublished ? 'oui' : 'non' }}
                                        </span>
                                    </td>
                                    <td>{{ article.isPublished ? article.Date|date('d/m/Y') : '-' }}</td>
                                    <td>{{ article.lastUpdateDate|date('d/m/Y') }}</td>
                                    <td>
                                        <a href="{{ path('article_edit', {'id': article.id}) }}"><i class="material-icons blue-text">edit</i></a>
                                        <a href="{{ path('article_remove', {'id': article.id}) }}"><i class="material-icons red-text">delete</i></a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% set i = i+1 %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m-t-30">
                    <h5>Commentaires</h5>
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Article (id)</th>
                            <th>Contenu</th>
                            <th>Date</th>
                        </tr>
                        {% set i = 1 %}
                        {% for commentaire in commentaires %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ commentaire.article.id }}</td>
                                <td>{{ commentaire.contenu }}</td>
                                <td>{{ commentaire.date|date('d/m/Y')  }}
                                </td>
                                <td>
                                    <a href=""><i class="material-icons red-text">delete</i></a>
                                </td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}